<header id="header">
  <div class="logo">
    <a {% if not page %}class="smoothscroll"{% endif %} href="{% if page %}{{ base_url_absolute }}/#hero{% else %}#hero{% endif %}"><img alt="" src="{{ theme_url }}/images/logo.png"></a>
  </div>

  {% include 'partials/navigation.html.twig' %}

    <div class="support-container">
        <span class="support-open">
            <i class="fa fa-phone"></i> <strong>{{ site.support.phone }}</strong><em>{{ site.support.support_text }}</em>
        </span>
        <div class="support-flyout">
            <div class="support-close"><i class="fa fa-times"></i></div>
            {% if site.support.heading_1 is not empty %}
            <h3>{{ site.support.heading_1 }}</h3>
            {% endif %}
            {% if site.support.heading_2 is not empty %}
            <h4>{{ site.support.heading_2 }}</h4>
            {% endif %}
            <div class="row">
                <div class="one columns icon">
                    <i class="fa {{ site.support.column_1.icon }}"></i>
                </div>
                <div class="three columns info">
                    <h4>{{ site.support.column_1.title }}</h4>
                    {{ site.support.column_1.info }}
                    {% if site.support.column_1.button_url is not empty %}
                    <div class="support-button">
                        <a class="button" href="{{ site.support.column_1.button_url }}">{{ site.support.column_1.button_label }}</a>
                    </div>
                    {% endif %}
                </div>
                <div class="one columns icon">
                    <i class="fa {{ site.support.column_2.icon }}"></i>
                </div>
                <div class="three columns info">
                    <h4>{{ site.support.column_2.title }}</h4>
                    {{ site.support.column_2.info }}
                    {% if site.support.column_2.button_url is not empty %}
                    <div class="support-button">
                        <a class="button" href="{{ site.support.column_2.button_url }}">{{ site.support.column_2.button_label }}</a>
                    </div>
                    {% endif %}
                </div>
                <div class="one columns icon">
                    <i class="fa {{ site.support.column_3.icon }}"></i>
                </div>
                <div class="three columns info">
                    <h4>{{ site.support.column_3.title }}</h4>
                    {{ site.support.column_3.info }}
                    {% if site.support.column_3.button_url is not empty %}
                    <div class="support-button">
                        <a class="button" href="{{ site.support.column_3.button_url }}">{{ site.support.column_3.button_label }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
